
body {
	background: lightslategray;
}

.container {
	margin-left: 20px;
	font-family: amatic SC, cursive;
  	font-size: 2em;
  	line-height:1;
  	/*color: white;*/
}


button {
	display: block;
	margin: 5px 0;
	padding: 5px 54px;
	border: 0;
	background-color: gainsboro;
}